table,
tr,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  text-align: center;
}

table {
  height: 100vw;
}
header {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
